{% extends 'Front/base.twig' %}
{% block content %}
    <section class="page_title cs gradientvertical-background s-py-25">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="">AFFAIRES</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Nos services
                        </li>
                        <li class="breadcrumb-item active">
                            Affaires
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div id="wrapper" class="fusion-wrapper">
                    <div id="home" style="position:relative;top:-1px;"></div>
                    <div id="sliders-container">
                    </div>
                    <div class="avada-page-titlebar-wrapper">
                    </div>
                    <main id="main" class="clearfix width-100">
                        <div class="fusion-row" style="max-width:100%;">
                            <section id="content" class="full-width">
                                <div id="post-9661" class="page">
                                    <div class="post-content">
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                             style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div class="fusion-builder-row fusion-row ">
                                                <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"
                                                     style='margin-top:0px;margin-bottom:0px;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                             style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:65px;padding-right:30px;padding-bottom:30px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div class="fusion-builder-row fusion-row ">
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-2 fusion-one-full fusion-column-first fusion-column-last fusion-animated 1_1"
                                                     style='margin-top:0px;margin-bottom:0px;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <style type="text/css"></style>
                                                        <div class="fusion-title title fusion-title-1 fusion-title-center fusion-title-text fusion-title-size-one"
                                                             style="margin-top:0px;margin-bottom:10px;">
                                                            <div class="title-sep-container title-sep-container-left">
                                                                <div class="title-sep sep-single sep-solid"
                                                                     style="border-color:#e0dede;"></div>
                                                            </div>
                                                            <h1 class="title-heading-center" style="margin:0;"><p
                                                                        style="text-align: center;"><span
                                                                            style="color: #745ea8;">NOS GAMMES DE <strong>PRODUITS</strong></span>
                                                                </p></h1>
                                                            <div class="title-sep-container title-sep-container-right">
                                                                <div class="title-sep sep-single sep-solid"
                                                                     style="border-color:#e0dede;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="fusion-text"><h1
                                                                    style="text-align: center; font-size: 18px; line-height: 25px;">
                                                                <span style="color: #747474;">Nous offrons divers produits et services, afin de répondre aux besoins technologiques de votre entreprise.</span>
                                                            </h1>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"
                                             style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:30px;padding-left:30px;margin-bottom: 20px;'>
                                            <div class="fusion-builder-row row ">
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_5 fusion-builder-column-3 fusion-one-fifth fusion-column-first fusion-animated 1_5"
                                                     style='margin-top:10px;margin-bottom:10px;width:20%;width:calc(20% - ( ( 1% + 1% + 1% + 1% ) * 0.2 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#fff6eb;padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-sep-clear"></div>
                                                        <div class="fusion-separator fusion-full-width-sep sep-single sep-solid"
                                                             style="border-color:#fda437;border-top-width:4px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;"></div>
                                                        <div class="fusion-text"><p><a
                                                                        href=""><img
                                                                            class="aligncenter size-full wp-image-7033"
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar2-home.png"
                                                                            alt="Internet, Data and Networking"
                                                                            width="61"
                                                                            height="62"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar2-home-66x66.png 66w, https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar2-home.png 114w"
                                                                            sizes="(max-width: 61px) 100vw, 61px"/></a>
                                                            </p>
                                                            <h2 style="text-align: center; font-size: 18px; line-height: 23px;">
                                                                <a
                                                                        href="">Internet,
                                                                    données et réseautage</a></h2>
                                                            <p style="text-align: center;"><a
                                                                        href="">SD-WAN</a><br/>
                                                                <a href="">RPV
                                                                    à commutation IP MPLS</a><br/>
                                                                <a href="">Internet
                                                                    sur fibre optique réservée</a><br/>
                                                                <a href="">Internet
                                                                    d&#8217;affaires</a><br/>
                                                                <a href="">Ligne
                                                                    privée virtuelle Ethernet (EVPL)</a></p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_5 fusion-builder-column-4 fusion-one-fifth fusion-animated 1_5"
                                                     style='margin-top:10px;margin-bottom:10px;width:20%;width:calc(20% - ( ( 1% + 1% + 1% + 1% ) * 0.2 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#eef1ff;padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-sep-clear"></div>
                                                        <div class="fusion-separator fusion-full-width-sep sep-single sep-solid"
                                                             style="border-color:#557aff;border-top-width:4px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;"></div>
                                                        <div class="fusion-text"><p><a
                                                                        href=""><img
                                                                            class="aligncenter size-full wp-image-7034"
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar3-home.png"
                                                                            alt="Cloud Services" width="61" height="62"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar3-home-66x66.png 66w, https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar3-home.png 114w"
                                                                            sizes="(max-width: 61px) 100vw, 61px"/></a>
                                                            </p>
                                                            <h2 style="text-align: center; font-size: 18px; line-height: 23px;">
                                                                <a
                                                                        href="
                                                                        ">Services
                                                                    infonuagiques</a></h2>
                                                            <p style="text-align: center;"><a
                                                                        href="
                                                                        ">Recovery</a><br/>
                                                                <a href="
                                                                ">Mail</a><br/>
                                                                <a href="
                                                                ">Server</a><br/>
                                                                <a href="
                                                                ">Backup</a><br/>
                                                                <a href="
                                                                ">Desktop</a><br/>
                                                                <a href="
                                                                ">Office</a>
                                                            </p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_5 fusion-builder-column-5 fusion-one-fifth fusion-animated 1_5"
                                                     style='margin-top:10px;margin-bottom:10px;width:20%;width:calc(20% - ( ( 1% + 1% + 1% + 1% ) * 0.2 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#e6f9fd;padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-sep-clear"></div>
                                                        <div class="fusion-separator fusion-full-width-sep sep-single sep-solid"
                                                             style="border-color:#03c9ea;border-top-width:4px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;"></div>
                                                        <div class="fusion-text"><p><a
                                                                        href="
                                                                        "><img
                                                                            class="aligncenter size-full wp-image-7032"
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar1-home.png"
                                                                            alt="Voice and Mobility" width="61"
                                                                            height="62"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar1-home-66x66.png 66w, https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar1-home.png 114w"
                                                                            sizes="(max-width: 61px) 100vw, 61px"/></a>
                                                            </p>
                                                            <h2 style="text-align: center; font-size: 18px; line-height: 23px;">
                                                                <a
                                                                        href="">Voix et
                                                                    mobilité</a>
                                                            </h2>
                                                            <p style="text-align: center;"><a
                                                                        href="">Communications
                                                                    unifiées</a><br/>
                                                                <a href="">PBX
                                                                    hébergé</a><br/>
                                                                <a href="">Liaisons
                                                                    SIP<br/>
                                                                </a><a href="">Interurbains<br/>
                                                                </a><a href="">Service
                                                                    de numéro sans frais<br/>
                                                                </a><a href="">Numéro
                                                                    virtuel (SDA)<br/>
                                                                </a><a href="">Carte
                                                                    d&#8217;appels internationaux</a></p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_5 fusion-builder-column-6 fusion-one-fifth fusion-animated 1_5"
                                                     style='margin-top:10px;margin-bottom:10px;width:20%;width:calc(20% - ( ( 1% + 1% + 1% + 1% ) * 0.2 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#fde6ee;padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-sep-clear"></div>
                                                        <div class="fusion-separator fusion-full-width-sep sep-single sep-solid"
                                                             style="border-color:#ef075b;border-top-width:4px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;"></div>
                                                        <div class="fusion-text"><p><a href=""><img
                                                                            class="aligncenter size-full wp-image-7035"
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2019/09/pillar4b-home.png"
                                                                            alt="IoT" width="61" height="62"/></a></p>
                                                            <h2 style="text-align: center; font-size: 18px; line-height: 23px;">
                                                                <a
                                                                        href="">IoT</a></h2>
                                                            <p style="text-align: center;"><a
                                                                        href="">Solutions
                                                                    IdO</a><br/>
                                                                <a href="">SIM<br/>
                                                                </a><a href="">Router
                                                                    CxC<br/>
                                                                </a></p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_5 fusion-builder-column-7 fusion-one-fifth fusion-column-last fusion-animated 1_5"
                                                     style='margin-top:10px;margin-bottom:10px;width:20%;width:calc(20% - ( ( 1% + 1% + 1% + 1% ) * 0.2 ) );'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#e6fdf7;padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-sep-clear"></div>
                                                        <div class="fusion-separator fusion-full-width-sep sep-single sep-solid"
                                                             style="border-color:#00e2ac;border-top-width:4px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;"></div>
                                                        <div class="fusion-text"><p><a
                                                                        href="
                                                                        "><img
                                                                            class="aligncenter size-full wp-image-7036"
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar5-home.png"
                                                                            alt="Professional Solutions and Services"
                                                                            width="61"
                                                                            height="62"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar5-home-66x66.png 66w, https://www.convergia.ca/wp-content/uploads/sites/2/2016/06/pillar5-home.png 114w"
                                                                            sizes="(max-width: 61px) 100vw, 61px"/></a>
                                                            </p>
                                                            <h2 style="text-align: center; font-size: 18px; line-height: 23px;">
                                                                <a
                                                                        href="
                                                                        ">Solutions
                                                                    et services professionnels</a></h2>
                                                            <p style="text-align: center;"><a
                                                                        href="
                                                                        ">Services
                                                                    professionnels de TI<br/>
                                                                </a><a href="
                                                                ">Services
                                                                    professionnels de réseau<br/>
                                                                </a><a href="
                                                                ">Conférences
                                                                    audio et Web<br/>
                                                                </a><a href="
                                                                ">Vidéo
                                                                    comme service (VaaS)<br/>
                                                                </a><a href="
                                                                ">Services
                                                                    de messages texte<br/>
                                                                </a><a href="
                                                                ">Solutions
                                                                    du centre de service à la clientèle<br/>
                                                                </a><a href="">Télécopieur
                                                                    électronique<br/>
                                                                </a><a href="">Points
                                                                    de vente électroniques</a></p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-4 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"
                                             style='background-color: #e6e7e8;background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:5px;padding-left:30px;margin-bottom: 20px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div data-animationType=slideInRight data-animationDuration=1.0
                                                 data-animationOffset=100%
                                                 class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-8 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height fusion-animated 1_1"
                                                 style='margin-top:15px;margin-bottom:5px;'>
                                                <div class="fusion-column-wrapper"
                                                     style="background-color:rgba(255,255,255,0.85);padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                     data-bg-url="">
                                                    <div class="fusion-column-content-centered">
                                                        <div class="fusion-column-content">
                                                            <div class="fusion-text"><h1
                                                                        style="text-align: center;"><span
                                                                            style="color: #745ea8;">NOTRE PROPOSITION DE <strong>VALEUR</strong></span>
                                                                </h1>
                                                                <h1 style="text-align: center; font-size: 18px; padding-bottom: 25px; line-height: 0px;">
                                                                    <span style="color: #747474;">Pourquoi choisir Ilf consulting?</span>
                                                                </h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fusion-clearfix"></div>

                                                </div>
                                            </div>
                                            <div class="fusion-builder-row row ">
                                                <div data-animationType=slideInRight data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-builder-column-9 fusion-one-fourth fusion-column-first fusion-animated 1_4"
                                                     style='margin-top:10px;margin-bottom:10px;width:25%;width:calc(25% - ( ( 1% + 1% + 1% ) * 0.25 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#ffffff;padding: 3% 3% 3% 3%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="imageframe-align-center"><span
                                                                    class="fusion-imageframe imageframe-none imageframe-1 hover-type-none"><a
                                                                        class="fusion-no-lightbox"
                                                                        href=""
                                                                        target="_self"
                                                                        aria-label="global-homepage"><img
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/global-homepage.jpg"
                                                                            width="500" height="225" alt=""
                                                                            class="img-responsive wp-image-16485"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/global-homepage-200x90.jpg 200w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/global-homepage-400x180.jpg 400w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/global-homepage.jpg 500w"
                                                                            sizes="(max-width: 800px) 100vw, 500px"/></a></span>
                                                        </div>
                                                        <div class="fusion-text"><h2
                                                                    style="font-size: 18px; line-height: 23px; text-align: center;">
                                                    <span style="color: #745ea8;"><a style="color: #745ea8;"
                                                                                     href="
                                                                                     ">Une présence mondiale</a></span>
                                                            </h2>
                                                            <p style="text-align: center;">Ilf fait partie d’un
                                                                groupe mondial
                                                                d’entreprises dont le chiffre d’affaires s’élève à
                                                                plusieurs
                                                                milliards de dollars, qui est bien établi en Amérique et
                                                                qui oeuvre
                                                                dans le domaine des TI depuis plus de 15 ans.</p>
                                                            <p style="text-align: center;">Nous sommes fiers d’avoir
                                                                conclu
                                                                d’importants partenariats stratégiques avec de
                                                                nombreuses grandes
                                                                entreprises technologiques dans le monde. De plus, notre
                                                                liste de
                                                                clients actuels est exemplaire.</p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInRight data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-builder-column-10 fusion-one-fourth fusion-animated 1_4"
                                                     style='margin-top:10px;margin-bottom:10px;width:25%;width:calc(25% - ( ( 1% + 1% + 1% ) * 0.25 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#ffffff;padding: 3% 3% 3% 3%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="imageframe-align-center"><span
                                                                    class="fusion-imageframe imageframe-none imageframe-2 hover-type-none"><a
                                                                        class="fusion-no-lightbox"
                                                                        href=""
                                                                        target="_self"
                                                                        aria-label="your-technology-partner-homepage"><img
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/your-technology-partner-homepage.jpg"
                                                                            width="500" height="225" alt=""
                                                                            class="img-responsive wp-image-16479"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/your-technology-partner-homepage-200x90.jpg 200w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/your-technology-partner-homepage-400x180.jpg 400w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/your-technology-partner-homepage.jpg 500w"
                                                                            sizes="(max-width: 800px) 100vw, 500px"/></a></span>
                                                        </div>
                                                        <div class="fusion-text"><h2
                                                                    style="font-size: 18px; line-height: 23px; text-align: center;">
                                                    <span style="color: #745ea8;"><a style="color: #745ea8;"
                                                                                     href="">Votre partenaire technologique</a></span>
                                                            </h2>
                                                            <p style="text-align: center;">Avec le service clés en mains
                                                                de
                                                                ILF, vous obtiendrez une solution personnalisée de
                                                                bout en
                                                                bout (c’est-à-dire que nous nous occuperons du projet au
                                                                complet
                                                                pour vous). La solution comprendra tous nos
                                                                produits-piliers.</p>
                                                            <p style="text-align: center;">Comme nous sommes un guichet
                                                                unique, vous
                                                                pourrez nous soumettre tous vos besoins de
                                                                communications. Vous
                                                                n’aurez donc pas à communiquer avec plusieurs
                                                                fournisseurs ni à vous
                                                                soucier de l’intégration de solutions, du service à la
                                                                clientèle ou
                                                                de la facturation : nous ferons partie de votre équipe
                                                                des TI.</p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInRight data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-builder-column-11 fusion-one-fourth fusion-animated 1_4"
                                                     style='margin-top:10px;margin-bottom:10px;width:25%;width:calc(25% - ( ( 1% + 1% + 1% ) * 0.25 ) );margin-right: 1%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#ffffff;padding: 3% 3% 3% 3%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="imageframe-align-center"><span
                                                                    class="fusion-imageframe imageframe-none imageframe-3 hover-type-none"><a
                                                                        class="fusion-no-lightbox"
                                                                        href=""
                                                                        target="_self"
                                                                        aria-label="diff-customer-eperience-homepage"><img
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/diff-customer-eperience-homepage.jpg"
                                                                            width="500" height="225" alt=""
                                                                            class="img-responsive wp-image-16483"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/diff-customer-eperience-homepage-200x90.jpg 200w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/diff-customer-eperience-homepage-400x180.jpg 400w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/diff-customer-eperience-homepage.jpg 500w"
                                                                            sizes="(max-width: 800px) 100vw, 500px"/></a></span>
                                                        </div>
                                                        <div class="fusion-text"><h2
                                                                    style="font-size: 18px; line-height: 23px; text-align: center;">
                                                    <span style="color: #745ea8;"><a style="color: #745ea8;"
                                                                                     href="">Une expérience client différenciée</a></span>
                                                            </h2>
                                                            <p style="text-align: center;">Nous offrons une expertise
                                                                approfondie en
                                                                matière de solutions IP de prochaine génération et la
                                                                meilleure
                                                                expérience client, de la conception de projet à la
                                                                formation en
                                                                passant par la gestion de projet.</p>
                                                            <p style="text-align: center;">En d’autres termes, nous
                                                                serons votre
                                                                partenaire. Notre équipe dévouée s’occupera de
                                                                l’ingénierie
                                                                avant-vente, de l’installation, du service technique et
                                                                du service à
                                                                la clientèle. Ainsi, vous pouvez être certain que votre
                                                                projet sera
                                                                prêt à temps et fonctionnera sans heurts.</p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInRight data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-builder-column-12 fusion-one-fourth fusion-column-last fusion-animated 1_4"
                                                     style='margin-top:10px;margin-bottom:10px;width:25%;width:calc(25% - ( ( 1% + 1% + 1% ) * 0.25 ) );'>
                                                    <div class="fusion-column-wrapper"
                                                         style="background-color:#ffffff;padding: 3% 3% 3% 3%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="imageframe-align-center"><span
                                                                    class="fusion-imageframe imageframe-none imageframe-4 hover-type-none"><a
                                                                        class="fusion-no-lightbox"
                                                                        href=""
                                                                        target="_self"
                                                                        aria-label="flexible-solutions-homepage"><img
                                                                            src="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/flexible-solutions-homepage.jpg"
                                                                            width="500" height="225" alt=""
                                                                            class="img-responsive wp-image-16481"
                                                                            srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/flexible-solutions-homepage-200x90.jpg 200w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/flexible-solutions-homepage-400x180.jpg 400w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/flexible-solutions-homepage.jpg 500w"
                                                                            sizes="(max-width: 800px) 100vw, 500px"/></a></span>
                                                        </div>
                                                        <div class="fusion-text"><h2
                                                                    style="font-size: 18px; line-height: 23px; text-align: center;">
                                                    <span style="color: #745ea8;"><a style="color: #745ea8;"
                                                                                     href="">Une tarification concurrentielle et des solutions financières flexibles</a></span>
                                                            </h2>
                                                            <p style="text-align: center;">Nous sommes fiers d’offrir
                                                                les solutions
                                                                qui présentent le meilleur rapport qualité-prix. Nous
                                                                vous aiderons
                                                                à économiser grâce à notre service complet, rapide et
                                                                rentable
                                                                d’exécution du projet.</p>
                                                            <p style="text-align: center;">Notre équipe de financement
                                                                pour les
                                                                clients pourra élaborer une solution qui réponde à vos
                                                                exigences,
                                                                notamment des programmes de paiement sans intérêt, des
                                                                programmes de
                                                                location ou de crédit-bail et des solutions
                                                                hébergées.</p>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-5 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                             style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:50px;padding-right:30px;padding-bottom:0px;padding-left:30px;margin-bottom: 0px;margin-top: 0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div class="fusion-builder-row fusion-row ">
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-13 fusion-one-full fusion-column-first fusion-column-last fusion-animated 1_1"
                                                     style='margin-top:0px;margin-bottom:0px;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <style type="text/css"></style>
                                                        <div class="fusion-title title fusion-title-2 fusion-title-center fusion-title-text fusion-title-size-one"
                                                             style="margin-top:20px;margin-bottom:20px;">
                                                            <div class="title-sep-container title-sep-container-left">
                                                                <div class="title-sep sep-single sep-solid"
                                                                     style="border-color:#e0dede;"></div>
                                                            </div>
                                                            <h1 class="title-heading-center" style="margin:0;"><p
                                                                        style="text-align: center;"><span
                                                                            style="color: #745ea8;">NOS <strong>ALLIANCES</strong></span>
                                                                </p></h1>
                                                            <div class="title-sep-container title-sep-container-right">
                                                                <div class="title-sep sep-single sep-solid"
                                                                     style="border-color:#e0dede;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="fusion-text"><h1
                                                                    style="text-align: center; font-size: 18px; line-height: 25px;">
                                                                <span style="color: #747474;">Nous travaillons en partenariat avec les meilleurs fournisseurs sur le marché pour vous procurer la solution offrant le meilleur rapport qualité-prix.</span>
                                                            </h1>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-6 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                             style='background-color: #ffffff;background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:50px;padding-bottom:0px;padding-left:50px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div class="fusion-builder-row fusion-row ">
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-14 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height fusion-animated 1_1"
                                                     style='margin-top:0px;margin-bottom:0px;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="imageframe-align-center"><span
                                                                    class="fusion-imageframe imageframe-none imageframe-5 hover-type-none"><img
                                                                        src="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1.jpg"
                                                                        width="1464" height="404" alt=""
                                                                        title="CNV-new-banner-test"
                                                                        class="img-responsive wp-image-16565"
                                                                        srcset="https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1-200x55.jpg 200w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1-400x110.jpg 400w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1-600x166.jpg 600w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1-800x221.jpg 800w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1-1200x331.jpg 1200w, https://www.convergia.ca/wp-content/uploads/sites/2/2018/07/CNV-new-banner-test-1.jpg 1464w"
                                                                        sizes="(max-width: 800px) 100vw, 1464px"/></span>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-7 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                             style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:50px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div class="fusion-builder-row fusion-row ">
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-15 fusion-one-full fusion-column-first fusion-column-last fusion-animated 1_1"
                                                     style='margin-top:0px;margin-bottom:20px;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-sep-clear"></div>
                                                        <div class="fusion-separator fusion-full-width-sep sep-single sep-solid"
                                                             style="border-color:#e6e7e8;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:;"></div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-fullwidth fullwidth-box fusion-builder-row-8 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                             style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:50px;padding-bottom:0px;padding-left:50px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                                            <div class="fusion-builder-row row ">
                                                <div data-animationType=slideInLeft data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-16 fusion-one-half fusion-column-first borderrt fusion-animated 1_2"
                                                     style='margin-top:0px;margin-bottom:20px;width:48%; margin-right: 4%;'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-text"><h2 style="font-size: 23px;"><span
                                                                        style="color: #745ea8;">VIDEO CORPORATIVE</span>
                                                            </h2>
                                                            <p style="font-size: 15px;">Lorsque vous travaillez en
                                                                partenariat avec
                                                                ILF, vous pouvez vous concentrer sur votre
                                                                activité
                                                                principale, tout en gérant l&#8217;ensemble de vos
                                                                projets (Internet
                                                                / Data, Cloud Service, Mobilité, Téléphonie, Matériel,
                                                                Services à
                                                                valeur ajoutée et Solutions professionnelles).</p>
                                                        </div>
                                                        <div class="fusion-video fusion-vimeo"
                                                             style="max-width:740px;max-height:420px;">
                                                            <div class="video-shortcode">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/S_xH7noaqTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                                                </iframe>
                                                            </div>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>

                                                    </div>
                                                </div>
                                                <div data-animationType=slideInRight data-animationDuration=1.0
                                                     data-animationOffset=100%
                                                     class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-17 fusion-one-half fusion-column-last fusion-animated 1_2"
                                                     style='margin-top:0px;margin-bottom:20px;width:48%'>
                                                    <div class="fusion-column-wrapper"
                                                         style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                                         data-bg-url="">
                                                        <div class="fusion-text"><h2 style="font-size: 25px;"><span
                                                                        style="color: #745ea8;">CONTACTEZ-NOUS</span>
                                                            </h2>
                                                            <p style="font-size: 15px;">Des questions? Nous aimons
                                                                partager notre
                                                                expérience et relever de nouveaux défis, alors
                                                                contactez-nous! Nous
                                                                sommes heureux de répondre aux questions et de montrer
                                                                comment
                                                                Ilf se rapporte à votre entreprise ou institution.
                                                                Notre
                                                                personnel amical évaluera comment nous pouvons mieux
                                                                vous aider.</p>
                                                        </div>
                                                        <div role="form" class="wpcf7" id="wpcf7-f14269-p9661-o1"
                                                             lang="en-US"
                                                             dir="ltr">
                                                            <div class="screen-reader-response"></div>
                                                            <form action="{{ path('front.affaires') }}" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                <p>
                                                                    <span style="color:red;">
                                                                        *
                                                                    </span>
                                                                    Information requise
                                                                </p>
                                                                <div id="ContactForm">
                                                                    <div id="left">
                                                                        <p>Nom : <span style="color:red;">*</span><br/>
                                                                            <span class="wpcf7-form-control-wrap your-name"><input
                                                                                        type="text" name="your-name"
                                                                                        value=""
                                                                                        size="40"
                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                        aria-required="true"
                                                                                        aria-invalid="false"/></span>
                                                                        </p>
                                                                        <p>Courriel : <span
                                                                                    style="color:red;">*</span><br/>
                                                                            <span class="wpcf7-form-control-wrap email"><input
                                                                                        type="email" name="email"
                                                                                        value="" size="40"
                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                        aria-required="true"
                                                                                        aria-invalid="false"/></span>
                                                                        </p>
                                                                    </div>
                                                                    <div id="right">
                                                                        <p>Compagnie : <span style="color:red;">*</span><br/>
                                                                            <span class="wpcf7-form-control-wrap company"><input
                                                                                        type="text" name="company"
                                                                                        value=""
                                                                                        size="40"
                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                        aria-required="true"
                                                                                        aria-invalid="false"/></span>
                                                                        </p>
                                                                        <p>Numéro de téléphone :<br/>
                                                                            <span class="wpcf7-form-control-wrap tel"><input
                                                                                        type="text" name="tel" value=""
                                                                                        size="40"
                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                        aria-required="true"
                                                                                        aria-invalid="false"/></span>
                                                                        </p>
                                                                    </div>
                                                                    <p>Comment pouvons-nous vous aider? <br/>
                                                                        <span class="wpcf7-form-control-wrap your-message"><textarea
                                                                                    name="your-message" cols="40"
                                                                                    rows="10"
                                                                                    class="wpcf7-form-control wpcf7-textarea"
                                                                                    aria-invalid="false"></textarea></span>
                                                                    </p>
                                                                    <p></p>

                                                                    <p></p>
                                                                    <p></p>
                                                                    <p><input type="submit" value="Envoyer"
                                                                              class="wpcf7-form-control wpcf7-submit"/>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="fusion-clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>  <!-- fusion-row -->
                    </main>  <!-- #main -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}