{% extends 'Front/base.twig' %}
{% block content %}

	<section class="page_title nous cs s-parallax s-overlay gradientradial-background s-py-50" style="background-position: 50% 2px;">
		<div class="container">
			<div class="row">

				<div class="divider-50"></div>

				<div class="col-md-12 text-center">
					<h1 class="">L'eau Pour Tous</h1>
					<ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item">
                                </li>

                                <li class="breadcrumb-item active">
                                </li> -->
                          </ol>
                    </div>

                    <div class="divider-50"></div>

              </div>
        </div>
  </section>

  <section class="ls  s-pb-lg-75 c-gutter-60 ">
     <div class="container">
          <div class="row">
               <div class="d-none d-lg-block divider-60"></div>
               <div class="col-md-7">
                    <div class="mb-40">
                         <img src="{{ asset('assets/front/images/logoupe.png') }}" alt="">
                   </div>
                   <p class="excerpt">
                       Nos Filiales



                   </p>
                   <p>Fondé en 2018, ILF Consulting est un cabinet, de conseil et d’expertise technique en infrastructures, cloud et cybersécurité. ​ 

                   </p>
                   <p>
                         ILF Consulting Propose des services de conseil en : 

                   </p>

                   <ul class="list1">
                         <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Services managés
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Cloud
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Infrastructures sécurisés
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Gouvernace, Gestion des risques et Conformité SSI 
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Audit organisationnel, physique et technique des SI​
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Test d’intrusion SI
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Sécurité des systèmes industriels, ICS, IIOT
                        </li>
                        <li>
                              <i class="color-main fa fa fa-clone"></i>
                              Continuité des activités et gestion d'incidents IT
                        </li>



                  </ul>
            </div>
            <div class="col-md-5 service-tablist">
              <div id="accordion01" role="tablist">
                   <div class="card">
                        <div class="card-header" role="tab" id="collapse01_header">
                             <h5>
                                  <a  aria-expanded="true"  class="">
                                       <i class="fa fa-bank"></i>
                                       Le Groupe  ILF Consulting 


                                 </a>
                           </h5>
                     </div>
                     <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                       <div class="info-card">
                            <div class="media">
                                 <div class="media-left">
                                      <a href="#">
                                           <img src="{{ asset('assets/front/images/replace.png') }}" alt="">
                                     </a>
                               </div>
                               <div class="media-body" style="    padding-top: 20px;">
                                Conseil et expertise technique en infrastructures, cloud et cybersécurité.

                          </div>
                    </div>
              </div>
        </div>
  </div>

</div>
<div class="my-30  p-30 service-icon">
 <img src="{{ asset('assets/front/images/quiilf.png') }}" alt="">
</div>

</div>
</div>

<div class="row">
   <div class="col-lg-6 animate animated fadeInLeft" data-animation="fadeInLeft">
        <img src="{{ asset('assets/front/images/adn.png') }}" alt="">
  </div>
  <div class="single-service divider-30 col-lg-6 text-left animate animated fadeInRight" data-animation="fadeInRight">
        <div class="content mx-30">
             <h4 class="single-service"></h4>
             <p>
                  <strong>Notre ADN</strong> est constitué de valeurs fortes et partagées par ses collaborateurs : L’excellence, Pragmatisme et agilité dans nos réalisations, l’esprit d’équipe et l’engagement.
                  Nous mettons notre savoir-faire au service de nos clients pour relever leurs défis du quotidien et à venir. Nous créons pour chaque client une approche sur-mesure et nous garantissons un total engagement pour la réussite de leurs projets.
            </p>
            				{# 	<ul class="list-styled">
            						<li>
            							Meatball biltong pork belly
            						</li>
            						<li>
            							Corned beef pig turkey pastrami
            						</li>
            						<li>
            							Chuck doner ham salami pork
            						</li>
            						<li>
            							Frankfurter tongue ball tip cupim
            						</li>
            					</ul> #}
            				</div>
            				<div class="content mx-30" style="margin-top:30px">
                                      <strong>Nos experts</strong> sont passionnés de solutions cloud et cybersécurité,
                                      l’équipe ILF Consulting  grandit et poursuit son aventure humaine collective. 

                                      Issus des meilleures formations et certifications professionnelles (CISM, CPP, ISO27001 LA, ISO 27001 LI, ISO 27005 RM, EBIOS RM, ISO22301 LI, CDPO, etc,) sélectionnés via un processus de recrutement exigeant, tous les consultants 

                                      l’équipe ILF est riches de compétence en conseil et expertise technique en cybersécurité, solutions managées, cloud et infrastructures sécurisés.
                                </div>	
                          </div>
                    </div>

              </div>
        </section>


  {% endblock %}	
