{% extends 'Front/base.twig' %}
{% block content %}

	<section class="page_title nous cs s-parallax s-overlay gradientradial-background s-py-50" style="background-position: 50% 2px;">
		<div class="container">
			<div class="row">

				<div class="divider-50"></div>

				<div class="col-md-12 text-center">
					<h1 class="">L'eau Pour Tous</h1>
					<ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item">
                                </li>

                                <li class="breadcrumb-item active">
                                </li> -->
                          </ol>
                    </div>

                    <div class="divider-50"></div>

              </div>
        </div>
  </section>

<section class="ls  s-pb-lg-75 c-gutter-60 mt-30 ">
                       <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <h3 class="fw-700 text-center">Vous souhaitez associer votre entreprise à une démarche solidaire et aider des personnes vulnérables en Afrique?
                            </h3>
                            <p class="text-center"><strong>Ensemble, changeons la vie de milliers de personnes en construisant des projets porteurs de sens et à fort impact.</strong></p>
                            <p>
                              Malgré le fait que l’accès à l’eau potable soit reconnu comme un droit de l’Homme depuis 2010, près de 2,2 milliards d’êtres humains n’ont toujours pas accès aujourd’hui à l’eau potable qui est géré en toute sécurité. 
                              En Afrique subsaharienne, le nombre de personnes utilisant de l’eau probablement contaminée a augmenté de 45 % entre 2000 et 2017, alerte l’expert Gérard Payen. 
                              Conséquence, 2,6 millions de personnes meurent toujours chaque année de maladies liées à l’eau.<br> 
                              Chaque société participe ainsi à hauteur de ses capacités à la construction des puits d’eau potable  en Afrique afin de lutter contre cette triste réalité. </p>
                            </div>
                          </div>

                        </div>
                      </section>

        </section>


  {% endblock %}	
