{% extends 'Front/base.twig' %}
{% block content %}

  <section class="page_title uni cs s-parallax s-overlay gradientradial-background s-py-50" style="background-position: 50% 2px;">
    <div class="container">
      <div class="row">

        <div class="divider-50"></div>

        <div class="col-md-12 text-center">
          <h1 class="">Humanitaire</h1>
          <ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item">
                                </li>

                                <li class="breadcrumb-item active">
                                </li> -->
                          </ol>
                    </div>

                    <div class="divider-50"></div>

              </div>
        </div>
  </section>
  <article class="events post side-item content-padding bordered">
      <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5 col-xs-12">
                  <div class="item-media cover-image" style="    width: 330px;
                  background-image: url(&quot;images/gallery/gallery-01.jpg&quot;);">
                  <img src="{{ asset('assets/front/images/tupr0.png') }}" alt="">
                  <div class="media-links">
                        <a class="abs-link" title="" href="#"></a>
                  </div>
            </div>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6 col-xs-12">
            <div class="item-content">
                  <h3>
                        <a href="event-single-full.html"></a>
                  </h3>
                  <p class="item-meta color-darkgrey">
                        <i class="fa fa-calendar color-main"></i>
                        <span>Depuis maintenant 5 ans (2015) </span>
                        <i class="fa fa-map-marker color-main"></i>
                        <span></span>
                  </p>
                  <p>
                        L’association « Tous Unis Pour Réussir » propose des formations en France dans les milieux les plus défavorisés. </p>
                  </div>
            </div>
      </div>
</article>
<section class="ls ">
    <div class="container">
      <div class="d-none d-lg-block divider-30"></div>
      <div class="row">
            <div class="col-lg-6 animate animated fadeInLeft" data-animation="fadeInLeft">
                  <img src="{{ asset('assets/front/images/tupr1.jpg') }}" alt="">
            </div>
            <div class="single-service divider-30 col-lg-6 text-left animate animated fadeInRight" data-animation="fadeInRight">
                  <div class="content mx-30">
                        <h4 class="single-service">Tous Unis Pour Réussir</h4>
                        <p>
                              Depuis toujours l’association effectue des formations dans les métiers des nouvelles technologies.

                              Ses formations sont portées sur les outils de graphisme informatique tel que Autocad, Revit, Sketchup qui vise plus essentiellement le milieu de l’architecture en général. 

                              Récemment l’association s’est vu proposer des formations en Développement ce qui a suscité l’intérêt du groupe.

                              En conséquence nous avons mis en place un accord pour fournir des formations portant sur la sécurité réseaux, cybersécurité, cloud, ces métiers en forte demande mondiale et souvent accessibles aux jeunes défavorisés bien plus tard, ces formations seront accessibles aux adhérents de l’association et le cout sera symbolique.
                        </p>
{# <ul class="list-styled">
<li>
Meatball biltong pork belly
</li>
<li>
Corned beef pig turkey pastrami
</li>
<li>
Chuck doner ham salami pork
</li>
<li>
Frankfurter tongue ball tip cupim
</li>
</ul> #}
</div>
</div>
</div>
<div class="row">
      <div class="col-sm-12">
            <p class="divider-sm-50 animate animated fadeInUp" data-animation="fadeInUp">

            </p>
      </div>
</div>
<div class="d-none d-lg-block divider-20"></div>
</div>
</section>

<section class="ls ">
      <div class="container">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="row">
                  <div class="col-lg-6 animate animated fadeInLeft" data-animation="fadeInLeft">
                        <img width="400" src="{{ asset('assets/front/images/leau.jpg') }}" alt="">
                  </div>
                  <div class="single-service divider-30 col-lg-6 text-left animate animated fadeInRight" data-animation="fadeInRight">
                        <div class="content mx-30">
                              <h4 class="single-service">L'eau pour tous</h4>
                              <p>
                                    Pour aller encore plus loin Tous Unis Pour Réussir et ILF consulting s’engagent à réinvestir les fonds générés par les formations, dans des puits d’eau en Afrique afin de lutter aussi contre cette triste réalité. 

                              </p>
{# <ul class="list-styled">
<li>
Meatball biltong pork belly
</li>
<li>
Corned beef pig turkey pastrami
</li>
<li>
Chuck doner ham salami pork
</li>
<li>
Frankfurter tongue ball tip cupim
</li>
</ul> #}
</div>
</div>
</div>
<div class="row">
      <div class="col-sm-12">
            <p class="divider-sm-50 animate animated fadeInUp" data-animation="fadeInUp">

            </p>
      </div>
</div>
<div class="d-none d-lg-block divider-20"></div>
</div>
</section>


{% endblock %}  
