{% extends 'Front/base.twig' %}
{% block content %}

	<section class="page_title nous cs s-parallax s-overlay gradientradial-background s-py-50" style="background-position: 50% 2px;">
		<div class="container">
			<div class="row">

				<div class="divider-50"></div>

				<div class="col-md-12 text-center">
					<h1 class="">Talent Lif</h1>
					<ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item">
                                </li>

                                <li class="breadcrumb-item active">
                                </li> -->
                              </ol>
                            </div>

                            <div class="divider-50"></div>

                          </div>
                        </div>
                      </section>

                      <section class="ls  s-pb-lg-75 c-gutter-60 mt-30 ">
                       <div class="container">
                        <div class="row">
                          <div class="col-md-12">                         
                            <p>
                              
                              En établissant un partenariat avec ILF Consulting, Bénéficiez d'un service de recrutement externalisé, complémentaire à votre entreprise. Avec nos offres Talent Partner, Talent Hunt et Talent As a service, Nous vous accompagnons tout au long du processus de recrutement de vos talents IT.
                              Notre organisation s'adapte à vos besoins et nos coûts sont indexés sur le nombre de recrutements effectués.
                            </p>
                          </div>
                        </div>

                      </div>
                    </section>

                  </section>


                {% endblock %}	
