{#{% extends "front/base/base.html.twig" %}#}

{% block title %}
    <title>403</title>
{% endblock %}

{% block content %}
    <div class="container-fluid position-relative bg-homepage p-0">
        <div class="container px-3 py-3 px-md-4 py-md-4">
            <h3 class="position-relative text-uppercase text-light mb-3 pb-3 font-weight-bold heading-special-error">
                We apologize we can not give you an estimate for the moment.
            </h3>
        </div>
    </div>
{% endblock %}
